.navbar {
    background-color: #222;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 390px;
    min-width: 320px;
    max-width: 550px;
    display: flex;
    place-items: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: #f1f1f1;
  }